.Container {
  /* position: relative; */
  width: 1150px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.Hero {
  text-align: center;
  padding: 5rem 2rem;
  color: white;
  background-image: linear-gradient(
      45deg,
      rgba(144, 39, 69, 0.5),
      rgba(84, 52, 101, 0.5)
    ),
    url('../../public/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.HeroHeader {
  font-size: 4rem;
  line-height: 1.2;
  /* margin-bottom: 2rem; */
  max-width: 800px;
  margin: 0 auto 2rem auto;
}

.HeroBody {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin: 0 auto 2rem auto;
}

.Services {
  background-image: linear-gradient(45deg, rgb(144, 39, 69), rgb(84, 52, 101));
}

.ServiceList {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0;
}

.About {
  display: flex;
  gap: 2rem;
  padding: 5rem 0;
}

.AboutImageContainer {
  position: relative;
  width: 50%;
}

.AboutImageContainer .FakeImg {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 1rem;
}

.AboutImageContainer div:nth-child(1) {
  background-color: red;
  left: 5%;
  top: 0;
  width: 40%;
  height: 40%;
  font-size: 1.5rem;
}

.AboutImageContainer div:nth-child(2) {
  background-color: blue;
  width: 200px;
  height: 50%;
  top: 0;
  right: 5%;
}

.AboutImageContainer div:nth-child(3) {
  background-color: yellow;
  width: 40%;
  height: 50%;
  right: 50%;
  bottom: 0;
}

.AboutImageContainer div:nth-child(4) {
  background-color: green;
  width: 150px;
  height: 40%;
  bottom: 0;
  right: 10%;
}

.AboutText {
  width: 50%;
}

.AboutText h3 {
  font-size: 2rem;
  color: red;
}

.AboutText :nth-child(2) {
  font-size: 2.5rem;
}

.Contact {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(144, 39, 69),
    rgb(84, 52, 101)
  );
  padding: 5rem 2rem;
}

.ContactText {
}

.ContactHeader {
  font-size: 2rem;
}

.ContactGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ContactCardFlexContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.ContactCard {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.CardIcon {
  font-size: 1.5rem;
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
}

i {
  line-height: inherit;
  margin: 0 auto;
}

.CardText {
}

.CardText :nth-child(1) {
  font-size: 1;
  font-weight: bold;
}
