.Navigation {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.LogoText {
}

.LogoText :nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}

.LogoText div:nth-child(2) {
  font-size: 0.6rem;
}

.NavItems {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.NavItem {
}

.NavItems a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.NavItems a:hover {
  border-bottom: 2px solid pink;
}
